<p id="notice"><%= notice %></p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Content:</b>
  <%= @review.content %>
</p>


<%= link_to 'Home', root_path %> | 
<%= link_to 'Back', reviews_path %>
