<p id="notice"><%= notice %></p>

<p id="show">
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p id="show">
  <%= @review.content %>
</p>

<%= link_to 'Home', root_path %> | 
<%= link_to "Submit A Review", new_review_path %> | 
<%= link_to "About", about_path %> | 
<%= link_to "Help", help_path %> | 
<%= link_to "Contact", contact_path %>
